
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanTri/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>
    Nội dung được viết ở đây, không phải viết lại các thành phần chung 

</h3>
<hr />
<h4>Bạn là quản trị, vui lòng chọn chức năng bên trái!</h4>

