@model WebBanSach.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/QuanTri/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa menu này không?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên menu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMenu)
        </dd>

        <dt>
            Link:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
